# React
**/node_modules
**/.vscode
**/.env.development
docker-compose.prod.yaml
.env.development
.env
build

# .NET
.vs
**/bin
**/obj
**/appsettings.Development.json
**/appsettings.Production.json

# Common
**/Web
# .github (Đã bỏ comment để cho phép commit thư mục CI/CD)
**/*.sql
zshop.conf

**/*.pem
**/logs
**/docker-compose.yaml
!/docker-compose.yaml
**/*.tar