.account-layout .option {
    padding: 4px 8px;
}

.account-layout .option.selected {
    background-color: black;
    color: white;
}

.account-layout .option:not(.option.selected):hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgba(142, 132, 132, 0.47);
}