.account-info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.account-info .table * {
    font-size: 16px;
}

.account-info select {
    height: fit-content;
    padding: 0;
}

.account-info input {
    width: 100%;
}


.account-info th {
    font-weight: 300;
    width: 120px;
}

.account-info td, th {
    border: 0;
}

.account-info .upload-img {
    font-size: 14px;
    border: 1px solid #dedede;
    padding: 1px 4px;
}