.product-management table thead th {
    border-bottom: 1px solid #dedede;
}

.product-management table {
    min-height: 200px;
}

.product-management table tbody tr:hover {
    background-color: #dedede70;
}

.product-management table td {
    align-content: start;
}

.product-management table .action i {
    border: 1px #dedede solid;
    width: 20px;
    height: 20px;
    align-content: center;
    text-align: center;
    margin: 0px 2px;
}

.product-management table .action i:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.product-management img {
    height: 160px;
    width: 120px;
    object-fit: cover;
    padding: 5px;
}

.product-management .search-btn {
    border: 1px solid #dedede;
    padding: 5px;
}

.product-management .search-btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.product-management .filter-dialog .filter {
    width: 400px;
    margin-top: 80px;
}

.product-management label {
    font-weight: 300;
    font-size: 18px;
}

.product-management .upload-img {
    font-size: 14px;
    border: 1px solid #dedede;
    padding: 1px 4px;
}

.product-management .cate-list .cate-item {
    font-weight: 600;
    border: 1px solid #dedede;
}

.product-management .cate-list .cate-item:hover {
    background-color: rgba(198, 198, 198, 0.258);
}

.product-management .cate-list .cate-item i {
    font-size: 24px;
}

.product-management .filter label  {
    font-size: 16px;
}

.product-management .updating label {
    font-size: 16px;
}