.price {
    font-size: 18px;
    font-style: italic;
}

.price .origin-price {
    text-decoration: line-through;
    color: #b9b9b9;
}

.price .discount-tag {
    background-color: red;
    color: white;
    padding: 0px 2px;
    font-size: 10px;
    font-weight: bold;
    height: fit-content;
    transform: translateY(-20%);
}



.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}