.ReviewBook .review-item i {
    
    font-size: 28px;
    height: 30px;
    width: 30px;
    color: rgba(6, 6, 6, 0.434);
    text-align: center;
    align-content: center;
}

.ReviewBook .review-item i:hover {
    background-color: rgba(0, 0, 0, 0.125);
    cursor: pointer;
}